
@{
    ViewBag.Title = "Dashboard";
}
<script src="~/Scripts/DashBoard.js"></script>

<h2>Dashboard Driver</h2>

<div id="WrapDash">
    <div class="DashBox" onclick="location.href='/@Session["Type"].ToString()s/update'">
        <p>Mise à jour</p>
    </div>

    <div class="DashBox" onclick="location.href='/users/profil?id=@Session["UserId"].ToString()&type=@Session["Type"].ToString()'">
        <p>Mes évaluations</p>
    </div>

</div>



