
@{
    ViewBag.Title = "Dashboard";
}
<script src="~/Scripts/DashBoard.js"></script>

<h2>Dashboard Driver</h2>
<div class="info">@ViewBag.ErrorMessage</div>
<div id="WrapDash">
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
</div>



