
@{
    ViewBag.Title = "Rating";
}

<h2>Rating</h2>
<hr />

<div id="WrapRating">
    <div id="MainRating">
        <div id="MainStar">
            <div id="WrapNumNameRat">
                <div class="NumNameRat">
                    4.5
                </div>
                <div class="NumNameRat Name">
                    Name
                </div>
            </div>
        </div>
        <div id="Stars">
            <div class="Rating Rtop">
                <div class="ImgRating">
                    <img src="/Content/images/6945c96dc969f372bb79a1f8909305ad--handsome-black-men-delicious-chocolate.jpg" />
                </div>
                <div class="StarImg">
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                </div>
                <div class="TextRating Ttop">
                    <h4>Name</h4>
                    Proinde concepta rabie saeviore, quam desperatio incendebat et fames,
                    amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae
                </div>
            </div>
            <div class="Rating Rtop">
                <div class="ImgRating">
                    <img src="/Content/images/beauty-natural-make-up-model-backstage-920x518.jpg" />
                </div>
                <div class="StarImg">
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                </div>

                <div class="TextRating Ttop">
                    <h4>Name</h4>
                    Proinde concepta rabie saeviore, quam desperatio incendebat et fames,
                    amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae
                </div>
            </div>
            <div class="Rating Rtop">
                <div class="ImgRating">
                    <img src="/Content/images/smooth-tapered-fade.jpg" />
                </div>
                <div class="StarImg">
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                    <img src="~/Content/images/1457652300.png" />
                </div>

                <div class="TextRating Ttop">
                    <h4>Name</h4>
                    Proinde concepta rabie saeviore, quam desperatio incendebat et fames,
                    amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae
                </div>
            </div>
        </div>
    </div>
    <div id="WRating">
        <div class="Rating">
            <div class="ImgRating">
                <img src="~/Content/images/6945c96dc969f372bb79a1f8909305ad--handsome-black-men-delicious-chocolate.jpg" />
            </div>
            <div class="StarImg">
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
            </div>

            <div class="TextRating">
                <h4>Name</h4>
                Proinde concepta rabie saeviore, quam desperatio incendebat et fames,
                amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae
                efferebantur, quam comes tuebatur Castricius tresque legiones bellicis
                sudoribus induratae.

            </div>
        </div>
        <div class="Rating">
            <div class="ImgRating">
                <img src="~/Content/images/beauty-natural-make-up-model-backstage-920x518.jpg" />
            </div>
            <div class="StarImg">
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
            </div>

            <div class="TextRating">
                <h4>Name</h4>
                Proinde concepta rabie saeviore, quam desperatio incendebat et fames, amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae efferebantur, quam comes tuebatur Castricius tresque legiones bellicis sudoribus induratae.

            </div>
        </div>
        <div class="Rating">
            <div class="ImgRating">
                <img src="~/Content/images/smooth-tapered-fade.jpg" />
            </div>
            <div class="StarImg">
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
            </div>
            <div class="TextRating">
                <h4>Name</h4>
                Proinde concepta rabie saeviore, quam desperatio incendebat et fames,
                amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae
                efferebantur, quam comes tuebatur Castricius tresque legiones bellicis sudoribus induratae.
            </div>
        </div>
        <div class="Rating">
            <div class="ImgRating">
                <img src="~/Content/images/beauty-natural-make-up-model-backstage-920x518.jpg" />
            </div>
            <div class="StarImg">
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
                <img src="~/Content/images/1457652300.png" />
            </div>
            <div class="TextRating">
                <h4>Name</h4>
                Proinde concepta rabie saeviore, quam desperatio incendebat et fames,
                amplificatis viribus ardore incohibili in excidium urbium matris Seleuciae
                efferebantur, quam comes tuebatur Castricius tresque legiones bellicis
                sudoribus induratae.

            </div>
        </div>
    </div>
</div>
