body {
    margin:0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.imglogo{
    height:70px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;

}

.nav-link 
{
    font-size:25px;
    color:#ffffff;
}

.navbar {
    background: rgb(86, 19, 138 );
}


footer {
    background: rgb(86, 19, 138 );
    height: 200px;
}

.btn-success {
    height: 60px;
    width: 150px;
    margin-left: 20px;
}


.carousel-inner {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.d-block w-100, img{
    height:350px;
}
#map {
    height: 300px;
}