
@{
    ViewBag.Title = "Recherche";
}
<div class="push pushtop"></div>
<div class="big-search">
    <div id="map" class="big-map"></div>

    <div class="box-search">
        <div class="entete-search">Booking</div>
        <div>
            <input id="from-input" class="controls" type="text" placeholder="Enter a depart" onchange="resetRoute()">
        </div>
        <div>
            <input id="to-input" class="controls" type="text" placeholder="Enter a destination" onchange="resetRoute()">
        </div>
        <div>
            <button class="validate-route btn-info">Valider</button>
        </div>
        <div>
            <div id="divNbKm"></div>
            <div id="divPrice"></div>
            <input type="hidden" id="driver-id-choosen" />
            <div id="driver-name-choosen"></div>
        </div>
        <div>
            <button class="validate-choice btn-info">Ajouter au panier</button>
        </div>
    </div>
</div>
<div id="window-driver">
    <input type="hidden" id="driver-id" />
    <h4 id="driver-name"></h4>
    <div id="driver-rate"></div>
    <br /><button id="choose-driver">Choisir ce conducteur</button>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbefCpK80vGc6pN5VoWTIIaqcAp4dHMb8&libraries=places&callback=initMap"> </script>
<div class="push"></div>