
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard Rider</h2>
<div class="info">@ViewBag.ErrorMessage</div>
<div id="WrapDash">
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
    <div class="DashBox">

    </div>
</div>

